[submodule "DaisySP"]
	path = src/thirdparty/DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "libDaisy"]
	path = src/thirdparty/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "Terrarium"]
	path = src/thirdparty/Terrarium
	url = https://github.com/PedalPCB/Terrarium
[submodule "src/mbdsp"]
	path = src/mbdsp
	url = https://github.com/michaeldonovan/mbdsp
