[submodule "src/DaisySP"]
	path = src/DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "src/libDaisy"]
	path = src/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "src/Terrarium"]
	path = src/Terrarium
	url = https://github.com/PedalPCB/Terrarium
